{% extends 'base.html'%}

{% block title %} Create news {% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-danger ml-0" type="submit" value="save"> Create </button>
    </form>

{% endblock %}