{% extends 'base.html'%}

{% block title %} News List {% endblock %}

{% block content %}
    <h1> List News</h1>
    {% for new in object_list %}
    <div class="card text-center">
        <div class="card-header">
            <h3>{{new.author}}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{new.title}}</h5>
          <p class="card-text">{{new.body}}</p>
          <a href="{% url 'news_detail' new.pk %}" class="btn btn-primary">Read</a>
        </div>
        <div class="card-footer text-muted">
          <p>{{ new.date}}</p>
        </div>
    
        
        {% if news.author.pk == user.pk %}
            <a href="{% url 'news_update' news.pk %}">edit</a>|
            <a href="{% url 'news_delete' news.pk %}">delete</a>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
{% endblock content %}
    
   
   


