{% extends 'base.html'%}

{% block title %} Delete {% endblock %}

{% block content %}
    <form method="POST">
    <h1> Are you sure to delete ?</h1>
    {% csrf_token %}
    <button class="btn btn-danger ml-0" type = "submit" value= "Confirm"> Delete</button>

    </form>

{% endblock %}