{% extends 'base.html'%}

{% block title %} Details {% endblock %}

{% block content %}

<div class="article-entry">
    <h1> {{object.title}}</h1>
    <p>by {{object.author}}|{{object.date}}</p>
    <p>{{object.body}}</p>
</div>
    {% if object.author.pk == user.pk %}

    <p>
    <a href="{% url 'news_update' news.pk %}" class="btn btn-success">Update</a>
    <a href="{% url 'news_delete' news.pk %}" class="btn btn-danger">Delete</a>
    </p>  

    {% endif %}

{% endblock %}