{% extends 'base.html' %}

{% block title %} Update news {% endblock %}

{% block content %}
 <h1>Do you want update news</h1>
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary ml-0" type="submit"> Update </button>

    </form>


{% endblock %}