{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    {% for about in abouts %}
    <div class="card">
        <div class="card-header">
        About "It Hub"
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ about.body }}</p>
        </blockquote>
        </div>
    </div>
    
        
    {% endfor %}
{% endblock %}